* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100dvw;
  min-height: 100dvh;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
h1 {
  font-size: 100px;
  font-weight: 500;
  line-height: 100%;
}
footer {
  padding: 20px;
  background-color: #0b001a;
  position: relative;
}
.container {
  max-width: calc(1328px + (40px * 2));
  padding: 0 40px;
  margin: 0 auto;
}
.font_montserrat {
  font-family: "Montserrat", sans-serif;
}
.flex {
  display: flex;
}
.justify_between {
  justify-content: space-between;
}
.items_center {
  align-items: center;
}
.button {
  color: #e9deff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 14px;
  border: 1px solid #e9deff;
  border-radius: 19px;
  transition: 0.7s;
}
.button::after {
  content: url(./imgs/arrow.png);
  margin-left: 4px;
}
.button:hover {
  box-shadow: 0px 0px 3.15px 0px #a22df71a, 0px 0px 6.52px 0px #a22df71a,
    0px 0px 13px 0px #a22df71a, 0px 0px 25.48px 0px #a22df71a,
    0px 0px 46.85px 0px #a22df71a, 0px 0px 19px 9px #a22df71a;
}
.logo img {
  width: 175px;
  height: 27px;
  object-fit: contain;
}
.nav_links {
  gap: 48px;
  color: #e9deff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.nav_links a {
  position: relative;
}
.nav_links a::after {
  content: url(./imgs/arrow.png);
  margin-left: 4px;
}
.nav_links a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #e9deff;
  transition: 0.7s;
}
.nav_links a:hover::before {
  width: 100%;
}
.hero {
  background-color: #0b001a;
  padding: 20px;
}
.hero_container {
  min-height: 716px;
  padding: 160px 40px 40px;
  background-color: #1e0044;
  border-radius: 20px;
  flex-direction: column;
}
.hero_content {
  color: #e9deff;
}
.hero_content span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  background-image: linear-gradient(#8338ec, #b923ff);
  background-clip: text;
  color: transparent;
}
.hero_content p {
  max-width: 541px;
  font-size: 24px;
  line-height: 120%;
  margin: 24px 0 0;
}
.scroll_container {
  align-items: flex-end;
}
.scroll_container p {
  color: #e9deff;
  font-size: 14px;
  font-weight: 500;
}
.scroll_container img {
  width: 106px;
  height: 106px;
  object-fit: contain;
  transition: 0.7s;
}
.scroll_container img:hover {
  scale: 1.06;
}
.development {
  background-color: #0b001a;
  padding: 20px;
}
.development_container {
  min-height: 345.8px;
  border-radius: 20px;
  padding: 0;
  gap: 28px;
}
.development_container article {
  max-width: 688px;
  border-radius: 20px;
  padding: 36px;
  color: #ffffff;
}
.development_container article:nth-child(1) {
  background: linear-gradient(94.21deg, #8338ec 9.295%, #9c2ef5 102.958%);
}
.development_container article:nth-child(2) {
  background: linear-gradient(94.21deg, #9e2df6 9.295%, #b923ff 102.958%);
}
.development_container h2 {
  font-size: 32px;
  font-weight: 400;
}
.development_container p {
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0px;
  margin: 97px 0 16px;
  text-align: justify;
}
.development_container span {
  font-size: 14px;
  letter-spacing: 0px;
  padding: 6px 12px;
  border: 1px solid #ffffff;
  border-radius: 19.17px;
  margin-left: 3px;
}
.korba {
  background-color: #0b001a;
  padding: 20px;
}
.korba_container {
  min-height: 600px;
  border-radius: 40px;
  background: #e9deff url(./imgs/korba_bg.png) center/cover no-repeat;
  padding: 40px;
}
.korba_container article {
  max-width: 400px;
  color: #0b001a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.korba_title span:nth-child(1) {
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.korba_title h2 {
  font-size: 50px;
  font-weight: 500;
  margin: 16px 0;
}
.korba_title h2 ~ span {
  font-size: 14px;
  letter-spacing: 0px;
  padding: 6px 12px;
  border: 1px solid #0b001a;
  border-radius: 19.17px;
  margin-left: 3px;
}
.korba_content p {
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0px;
  margin-bottom: 32px;
}
.korba_content .button {
  color: #0b001a;
  border: 1px solid #0b001a;
}
.korba_content .button::after {
  content: url(./imgs/black_arrow.png);
  margin-left: 10px;
}
.korba_container img {
  max-width: 660px;
  height: 520px;
  /* object-fit: contain; */
}
.trailhive {
  background-color: #0b001a;
  padding: 20px;
}
.trailhive_container {
  min-height: 600px;
  border-radius: 40px;
  background: #1e0044 url(./imgs/trailhive_bg.png) center/cover no-repeat;
  padding: 40px;
  position: relative;
}
.trailhive_container article {
  max-width: 400px;
  color: #e9deff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.trailhive_title span:nth-child(1) {
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.trailhive_title h2 {
  font-size: 50px;
  font-weight: 500;
  margin: 16px 0;
}
.korba_title h2 ~ span {
  font-size: 14px;
  letter-spacing: 0px;
  padding: 6px 12px;
  border: 1px solid #0b001a;
  border-radius: 19.17px;
  margin-left: 3px;
}
.trailhive_content p {
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0px;
  margin-bottom: 32px;
}
.trailhive_content .button::after {
  margin-left: 10px;
}
.trailhive_container .badge {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 133.48px;
  height: 133.48px;
  object-fit: contain;
}
.trailhive_image {
  max-width: 660px;
  height: 520px;
  /* object-fit: contain; */
}
.awards {
  background-color: #0b001a;
  padding: 20px;
}
.awards_container {
  min-height: 512px;
  padding: 60px 40px;
  border-radius: 40px;
  background-color: #e9deff;
}
.awards_container h2 {
  max-width: 400px;
  color: #0b001a;
  font-size: 50px;
  font-weight: 500;
}
.awards_container ul {
  width: 715px;
  flex-shrink: 1;
}
.awards_container li {
  padding: 20px 0;
  border-bottom: 1px solid #17003466;
}
.awards_container li:nth-child(1) {
  border-top: 1px solid #17003466;
}
.awards_container a {
  color: #0b001a;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0%;
  margin-bottom: 6px;
}
.awards_container a::after {
  content: url(./imgs/awords_arrow.png);
  transition: 0.7s;
}
.awards_container a:hover::after {
  rotate: 45deg;
}
.awards_container span {
  color: #0b001a;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.footer_container {
  min-height: 691.75px;
  padding: 160px 40px 40px;
  background-color: #1e0044;
  border-radius: 20px;
  flex-direction: column;
}
.footer_header {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.footer_content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.footer_content h2 {
  color: #e9deff;
  font-size: 100px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 40px;
}
.footer_content img {
  width: 134px;
  height: 134px;
  object-fit: contain;
  transition: 0.7s;
}
.footer_container img:hover {
  scale: 1.06;
  rotate: -45deg;
}
.sub_footer {
  width: 100%;
  color: #e9deff;
  font-size: 14px;
}
